{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="container">
        <div class="row  col-md-6 m-auto">
            <div class="card shadow col-cod-8 mt-5">
                <div class="col-md m-auto">
                    <form action="" method="POST" enctype="multipart/form-data" class="mt-3 mb-3">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button type="submit" class="btn btn-success" > <i class="fa fa-unlock" ></i>&nbsp; Login</button>
                        <span>Not have account <span> <a href="{%url 'register'%}">Sign up</a> </span></span>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}